<h2>Por pais</h2>
<hr>
<div class="row">
    <div class="col" id="input-busqueda">
        <app-pais-input (onEnter)="buscar($event)" (onDebounce)="sugerencias($event)"></app-pais-input>
    </div>
</div>
<div *ngIf="mostrarSugerencias" class="row">
    <ul class="list-group">
        <li *ngFor="let pais of paisesSugeridos" type="button" routerLink="/pais/{{pais.cca3}}" class="list-group-item list-group-item-action">
            {{pais.name.common}}
        </li>
    </ul>
</div>
<hr>
<div *ngIf="hayError" class="alert alert-danger">
    No se encontró nada con el término {{terminoBusqueda}}
</div>
<div class="row">
    <div class="col">
        <app-pais-tabla *ngIf="!hayError" [paises]="paises"></app-pais-tabla>
    </div>
</div>